

<hr>
<div class="card">
  <div class="card-header">
    <h2>{{post.title}}</h2>
    <small>Categoria: {{post.category.name}}</small>
    <br>
    <small><a href="/">Voltar</a></small>
  </div>    
  <div class="card-body">
    {{post.text}}
    <br><br>
    <small>Data: {{post.updatedAt}}</small>
    <br>
    <small><a href="/">Voltar</a></small>
  </div>
</div>